@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


.great-vibes-regular {
    font-family: "Great Vibes";
    font-weight: 400;
    font-style: normal;
    font-size: 140px;
    line-height: 5px;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.nnn {
    margin: 0;
    padding: 0;
}

* {

    margin: 0px;
    padding: 0px;

}

body {
    background: linear-gradient(180deg, #1b1b1b, #000000);
    margin: 0;

}


/* Navbar works */

.Navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 9.5rem;
    margin-right: 10rem;
    margin-top: 3.2rem;
}

.Navbar-text {
    display: flex;
    gap: 3rem;
    justify-items: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 12px;
    border-radius: 28px;
}


header>nav>div>h1 {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
}

.border {
    color: rgb(255, 255, 255);
    border-radius: 3ch;
    padding: 8px 20px 8px 20px;
    background: rgb(230, 83, 60);
}

.shape-container {
    margin-left: 190px;
    margin-top: 130px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 200px;
}

.shape {

    font-size: 78px;
    font-weight: 900;
    margin-bottom: 40px;
}

.para-text1 {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 25px;
}

.colored-btn {
    color: white;
    padding: 10px 40px;
    border-radius: 42px;
    border: 1px solid rgb(230, 83, 60);

    background: rgb(230, 83, 60);
    font-size: 18px;
    font-weight: 600;

}

.dwn-btn {

    color: white;
    padding: 10px 40px;
    border-radius: 42px;
    border: 1px solid rgb(255, 255, 255);
    ;
    background: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 600;
}

#text-box1 {

    background-color: rgba(255, 255, 255, 0.1);
    margin-top: -300px;
    margin-left: 290px;
    width: 193px;
    height: 98px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(20px);
}

#text-box2 {

    background-color: rgba(255, 255, 255, 0.1);
    margin-top: -120px;
    width: 193px;
    height: 98px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(20px);

}

.h1 {
    font-size: 40px;
    font-weight: 900;
}


.p1 {
    color: rgba(255, 255, 255, 0.65);
    font-size: 16px;
    font-weight: 400;
    margin-left: 35px;
}

.circle {

    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: -65px;
}

.img-sec {

    margin-top: -200px;
}

/* Habit section css works */

.habit-section {
    margin-top: 150px;
}


.text-habit {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.habit-img-container {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 60px;


    gap: 10px;
    color: white;

    margin-right: 150px;

    margin-left: 150px;
}

.img-sizer {
    height: 200px;
    width: 200px;
    border-radius: 50%;

}

.habit-para {

    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    width: 80%;
}

/* run section */



.display-flex-run {

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 50px;
    margin: 100px auto;
    margin-left: 130px;
    margin-right: 220px;
    gap: 80px;

    padding: 50px;
    border-radius: 18px;

    background: rgb(34, 34, 34);



}



.para-section {
    margin-top: 10px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.5);

    font-size: 14px;
    font-weight: 400;

    letter-spacing: 0.3px;
    text-align: left;
    margin-bottom: 30px;
}

.bold-font {
    font-size: 48px;
    font-weight: 900;
}

.run-img-box {


    width: 366px;
    height: 312px;
    border-radius: 15px;



}

/* BMI Calculator  SRCTION CSS */

.section-of-bmi {
    color: white;
    background: rgb(34, 34, 34);
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 52px 189px;
    margin: 0px;

}

#text {

    font-size: 48px;

}

#text1 {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.BMI-Top {

    margin-top: 80px;
    margin-bottom: 80px;
    text-align: start;
    margin-left: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Calculator {

    color: white;

}

table {
    border-collapse: collapse;

    width: 310px;
    height: 216px;
    margin-top: 50px;


}

.form-of-BMI {}

input,
select {
    border-radius: 8px;

    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
}

td {

    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px;

}

.body-text-color {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}

.head-text-color {

    color: white;
    font-size: 16px;
    font-weight: 500;
}

.clr {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 15px;
    font-size: 16px;




    line-height: 50px;
    width: 450px;

}

.box {

    height: 40px;
    width: 200px;
    padding-left: 20px;

    margin-left: 10px;
    border: 5px solid rgb(34, 34, 34);
    border-radius: 15px;
}

.box2 {
    height: 50px;
    width: 221px;
    margin-left: 5px;
    border: 5px solid rgb(34, 34, 34);
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.268);
    border-radius: 15px;
}

#forcebox {

    margin-left: -228px;
}

#forcebox2 {

    margin-left: -228px;
    width: 229px;

}

.box3 {
    margin-left: 10px;
    width: 455px;
}

.BMI_text {

    margin-left: 15px;
    margin-bottom: 30px;

}

.parabmi {
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.5);
}

.btn-align {
    margin-top: 20px;
    margin-left: 0px;
    width: 220px;
    font-size: 16px;
    font-weight: 400;

}

/* meet-out-team section  */

.Uppersec-meet {

    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    margin-top: 88px;
    text-align: center;

}

.Uppersec-meet>p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;

}

.img-container-meet {


    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 290px;
    width: 1060px;
    padding-left: 5px;
    padding-bottom: 10px;
    margin-top: 50px;
    border-radius: 20px;
    color: white;
    font-size: 17px;
    font-weight: normal;
    height: 600px;

}

.imgbox {
    margin-top: 13px;
    height: 272px;
    width: 326px;
  border-radius:25px ;
  padding: 8px;
  
 
}

.upper-text{

    height: 20px;
    width: 20px;
}
.textup{
    margin-top: -70px;
    margin-left: 20px;
}
.textup>p{
   color: rgba(255, 255, 255, 0.5);
   font-size: 14px;
   margin-left:5px;
}

.footerclass{
    margin-top: 88px;
color: white;
display: flex;
justify-content: space-around;
gap: 10px;

padding-top:66px ;
}
.fit{
 color:rgba(230, 83, 60, 1) ;
font-weight: 900;
 font-size: 70px;
 font-style: italic;
 
}
.text-of-footer{
    color:rgba(255, 255, 255, 0.5);
    font-size: 14px;
}
.fttxt{

    margin-top:27px ;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    gap:14px;
    
}

.lastfoot{

    border-top: 2px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    font-size:20px;
    font-weight: normal;
    text-align: center;

    margin-top: 79px;
    margin-left: 190px;
    margin-right: 190px;
    padding: 36px 190px;
}
.ft{
    background-color:rgba(255, 255, 255, 0.1) ;   
}
.alg1{
    margin-left: 180px;
}
.alg3{

    margin-right: 190px;
}

.off{
    display: none;
}
/* Mobile reponsive */

@media screen and (max-width:576px) {

    * {
        margin: 0px 0px;
    }

    .Navbar-text {

        display: hidden;

    }


    .shape {
        font-size: 42px;

    }

    .great-vibes-regular {
        font-size: 42px;
    }

    .para-text1 {

        width: 350px;
    }

    .fitness {
        margin-left: 20px;
    }

    .for-mobile-nav {
        color: antiquewhite;
    }

    .shape-container {

        display: flex;
        flex-direction: column;
        gap: 260px;
        margin: 20px 10px;

    }

    .Navbar-text {
        display: none;
    }

    .Navbar {
        display: initial;

    }

    .img-sec {
        margin-left: 40px;
    }

    #text-box1 {

        background-color: rgba(255, 255, 255, 0.1);
        margin-top: -400px;
        margin-left: 210px;
        width: 130px;
        height: 80px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(20px);
    }

    #text-box2 {

        background-color: rgba(255, 255, 255, 0.1);
        margin-top: -120px;
        width: 130px;
        height: 80px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(20px);

    }

    .h1 {
        font-size: 20px;
        font-weight: 900;
        margin-left: 20px;
    }


    .p1 {
        color: rgba(255, 255, 255, 0.65);
        font-size: 10px;
        font-weight: 400;
        margin-left: 25px;
    }

    .h2 {
        margin-left: 40px;
    }

    .circle {

        width: 35px;
        height: 35px;

        margin-left: -45px;
    }

    .btn-mbl {
        display: flex;

        gap: 5px;

    }

    .colored-btn {

        color: white;
        padding: 10px 40px;
        width: 180px;
        height: 80px;
    }

    /* habit section for mobile */

    .habit-section {

        margin-top: 500px;
    }

    .habit-img-container {

        grid-template-columns: repeat(1, 1fr);

        margin-right: 50px;

        margin-left: 120px;
    }

    /* run section */

    .display-flex-run {


        flex-direction: column;

        margin-top: 50px;
        margin: 100px auto;
        margin-left: 15px;
        margin-right: 15px;
        gap: 0px;

        padding: 16px 40px;
        border-radius: 18px;

    }

    .run-img-box {

        margin-top: 40px;
        width: 286px;
        height: 175px;
        border-radius: 15px;

    }

    .run-img-box1 {

        border-top: 80px;
    }

    .btn-wdt {


        width: 310px;
    }

    /* mobile responsive for bmi section */

    .BMI-Top {


        margin-left: 20px;
    }

    .section-of-bmi {


        grid-template-columns: repeat(1, 1fr);

        padding: 5px 3px;

        margin: 0px;
    }


    .Calculator {

        padding: 30px;
    }


    .BMI_text {

        margin-left: 2px;
        width: 350px;
        margin-top: 30px;
        font-size: 16px;

    }

    .aligner4 {
        margin-left: -15px;
    }

    .box {

        height: 40px;
        width: 150px;
        padding-left: 20px;


    }

    .box2 {
        height: 50px;
        width: 150px;
        margin-left: 5px;

    }

    #forcebox {

        margin-left: -188px;
        width: 159px;
    }

    #forcebox2 {

        margin-left: -188px;
        width: 189px;

    }

    .box3 {
        margin-left: 10px;
        width: 365px;
    }

    .btn-align {

        width: 200px;
        height: 50px;
    }

    .test {
        width: 200px;
    }

    .alinger {
        width: 300px;
    }

    .alinger2 {
        width: 300px;
    }

    .aligner4 {
        width: 300px;
    }

    .clr {


        width: 250px;

    }


    /* team section css  */

    .img-container-meet {


        grid-template-columns: repeat(1,1fr);
    }
}